.vscode/**
.github/**
.vscode-test/**
.vscode-test.mjs
playwright.config.ts
playwright-report/**
test-results/**
.forge/**
src/**
test/**
scripts/**
node_modules/**
out/**
**/*.ts
**/*.map
tsconfig.json
eslint.config.mjs
.prettierrc
.gitignore
esbuild.mjs
